# Python cache
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Binary Data Files (Large)
*.parquet
*.h5
*.feather
*.pkl

# Strategy Logs & Telemetry
logs/
tmp_tokens.txt

# Large Dataset Folders
raw_data/
processed_data/
results/

# Whitelist models
!data/
data/*
!data/models/
data/models/*
!data/models/meta_*.pkl

!models/
models/*
!models/meta_*.pkl

# VS Code / OS files
.vscode/
.DS_Store
Thumbs.db

# example project
example_project
